@use "global" as *;
// お問い合わせ

.contact {
  background-color: #FDF9EF;
  padding-top: rem(56);
  padding-bottom: rem(20);
  @include mq(md) {
    padding-top: rem(104);
    padding-bottom: rem(30);
  }
}

.contact__inner {
  padding: 0 rem(10);
  @include mq(md) {
    padding: 0 rem(20);
  }
}

.contact__copy {
  font-family: $base-font-family;
  color: #4E301B;
  font-size: rem(16);
  font-weight:$bold;
  text-align: center;
  margin-top: rem(67);
  padding: 0 rem(32);
  @include mq(md) {
    font-size: rem(18);
    margin-top: rem(67);
    padding: 0;
  }
}

.contact__form-wrapper {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(93);
  }
}
