@use "global" as *;
// FAQ

.faq {
  margin-top: rem(28); //40-12
  padding: rem(40) 0;
  background-color: #FDF9EF;
  @include mq(md) {
    margin-top: rem(91);
    padding-top: rem(91);
    padding: rem(60) 0;
  }
}

.faq__section-title .section-title__text {
  text-transform: uppercase;
}

.faq__list-wrapper {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(73);
  }
}

.faq__list {
  @include mq(md) {
    width: rem(740);
  }
}

.faq__image {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  @include mq(md) {
    max-width: rem(1280);
  }
}

// いちごパンケーキの画像
.faq__image::after {
  content: "";
  display: inline-block;
  width: min( 27.265%, rem(349));
  max-width: 100%;
  aspect-ratio: 349/197;
  background-image: url(../images/common/faq-breakfast-middle.png);
  background-size: contain;
  position: absolute;
  left: calc(50% - min(48vw, 58%));
  top: rem(-11);//30-20(answerが隠れている分-カンプの位置）
  z-index: 1000;
}



