@use "global" as *;
// お知らせ

.news {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(91);
  }
}

.news__list-wrapper {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(90);
  }
}

.news__image {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: rem(12);
  position: relative;
  @include mq(md) {
    max-width: rem(1280);
  }
}

// ぶどうの画像
.news__image::after {
  content: "";
  display: inline-block;
  width: min( 18.359%, rem(235));
  max-width: 100%;
  aspect-ratio: 235/157;
  background-image: url(../images/common/news-grapes-middle.png);
  background-size: contain;
  position: absolute;
  right: calc(50% - min(48vw, 58%));
  top: rem(12);
  z-index: 1000;
}


