@use "global" as *;
// お知らせ

.news {
  margin-top: rem(40);
  padding-bottom: rem(40);
  position: relative;
  z-index: 1;
  @include mq(md) {
    margin-top: rem(91);
    padding-bottom: rem(91);
  }
}

.news::after {
  content: "";
  display: inline-block;
  width: min( 18.359%, rem(235));
  max-width: 100%;
  aspect-ratio: 235/157;
  background-image: url(../images/common/news-grapes-middle.png);
  background-size: contain;
  position: absolute;
  right: calc(50% - min(48vw, 58%));
  // bottom: rem(-78);
  bottom: 0;
  z-index: 1000;
}


