@use "global" as *;
// 製品一覧

.products {
  background-color: #FDF9EF;
  padding-top: rem(126);
  padding-bottom: rem(94);
}

.products__swiper-container {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(91);
  }
}
.products__swiper.swiper {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}

.swiper-wrapper .swiper-slide {
  height: auto; //cardの高さを揃える(デフォルトの100%を打ち消し）
}
