@use "global" as *;
// PCナビ

// 左、タイトル、右を横並び
.pc-nav__items {
  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 23.437% 1fr;
    gap: min(2vw, rem(39));
    align-items: center;
  }
}

.pc-nav-left__items,
.pc-nav-right__items {
  @include mq(md) {
    display: flex;
    gap: min(2vw, rem(39));
  }
}

.pc-nav-left__items {
  justify-content: flex-end;
}
.pc-nav-right__items {
  justify-content: flex-start;
}

.pc-nav-left__link,
.pc-nav-right__link {
  font-family: $base-font-family;
  font-size: rem(12);
  color: #4E301B;
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(16);
  }
}

