@use "global" as *;
// セクションタイトル

.section-title {
  text-align: center;
}

.section-title__text {
  font-family: $base-font-family;
  font-size: rem(24);
  color: $font-color;
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(32);
  }
}